@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400;500&display=swap");
/*reset*/
* {
  font-size: 62.5%;
  /*1REM = 10PX*/
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*font-family*/
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}

/*Neumorphism*/
/*FONT WEIGHT*/
/*MEDIUM*/
/*REGULAR*/
/*FONT-SIZE*/
.redesSociales {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  height: 1.7em;
  padding-bottom: 30px;
  border-bottom: 1px solid #a09393;
}
.redesSociales img {
  height: 30px;
  width: 30px;
  padding: 4px;
}

.menu {
  background-color: white;
  height: 3em;
  border-bottom: 1px solid #a09393;
}
.menu .ulNav {
  margin: auto;
}
.menu .ulEnlace {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
.menu .ulLink {
  padding: 0.33em;
}
@media screen and (max-width: 992px) {
  .menu .ulLink {
    background-color: rgba(8, 8, 83, 0.93);
    text-align: center;
  }
}

.logosRs a {
  text-decoration: none;
}

.telContact {
  display: flex;
}
.telContact img {
  margin: 0 5px;
}
.telContact p {
  margin: 0 5px;
}

.mailContact {
  display: flex;
}
.mailContact img {
  margin: 0 5px;
}
.mailContact p {
  margin: 0 5px;
}

.carousel-item {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-out;
}

/*tittle*/
.container-tittle {
  text-align: center;
  margin: 6rem 0;
}
.container-tittle h1 a {
  font-size: 3.1rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}

/*CARDS*/
.container-cards {
  width: 100%;
  justify-content: space-around;
}

.card-1 {
  text-align: center;
  transition: all 0.4s ease-in;
  padding: 2rem;
  border-radius: 9px;
}
.card-1:hover {
  background: #ffffff;
  box-shadow: 20px 20px 38px #b8b8b8, -20px -20px 38px #ffffff;
}
.card-1 a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: black;
}
.card-1 a img {
  width: 80%;
  height: auto;
}
.card-1 a div {
  text-align: center;
  margin-top: 1rem;
}
.card-1 a div .p-categories span {
  font-size: 1.4rem;
}
.card-1 a div h3 {
  font-size: 1.7rem;
  font-weight: bold;
}
.card-1 a div .p-prices span {
  font-size: 1.7rem;
  color: #05a805;
  font-weight: bold;
}
.card-1 a div button {
  font-size: 1.5rem;
  padding: 10px;
  background-color: #e6e6e6;
  border: none;
  transition: all 0.3s ease-in-out;
}
.card-1 a div button:hover {
  background-color: black;
  color: #ffff;
}

.options {
  width: 100%;
  text-align: center;
  margin: 4rem 0;
}
.options .cart {
  font-family: "Roboto", sans-serif;
  width: 48rem;
  height: 11rem;
  font-size: 2.5rem;
  margin-right: 4rem;
  background-color: black;
  color: #ffff;
  transition: all 0.3s ease-in;
}
.options .cart:hover {
  background-color: #ffff;
  color: black;
}
.options .cart span {
  font-size: 5rem;
}
.options .wp {
  font-family: "Roboto", sans-serif;
  width: 48rem;
  height: 11rem;
  font-size: 2.5rem;
  margin-left: 4rem;
  background-color: black;
  color: #ffff;
  transition: all 0.3s ease-in;
  padding: 1rem;
}
.options .wp:hover {
  background-color: #ffff;
  color: black;
}
.options .wp span {
  font-size: 5rem;
}

@media screen and (max-width: 1050px) {
  .options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
  }
  .options .cart {
    margin: 2rem 0;
    width: 100%;
  }
  .options .wp {
    margin: 2rem 0;
    width: 100%;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
