
/*tittle*/


.container-tittle {
    text-align: center;
    margin: 6rem 0;
    h1 {
        a {
            font-size: nth($font-sizes , 1 );
            font-family: $family-1;
            text-decoration: none;
            color: black;
        }
    }
}



/*CARDS*/

.container-cards {
    width: 100%;
    justify-content: space-around;
}

.card-1 {
    text-align: center;
    transition: all .4s ease-in;
    padding: 2rem;
    border-radius: 9px;


    &:hover {
    background: #ffffff;
    box-shadow:  20px 20px 38px #b8b8b8,
        -20px -20px 38px #ffffff;
    }
        a {
        text-decoration: none;
        font-family: $family-2;
        font-weight: 300;
        color: black;
        img {
            width: 80%;
            height: auto;
        }
        div {
            text-align: center;
            margin-top: 1rem;
            .p-categories{
                span {
                    font-size: nth($font-sizes , 4 );
                }
            }
            h3 {
                font-size: nth($font-sizes , 3 );
                font-weight: bold;
            }
            .p-prices {
                span {
                    font-size: nth($font-sizes , 3 );
                    color: rgb(5, 168, 5);
                    font-weight: bold;
                }
            }
            button {
                font-size: nth($font-sizes , 5 );
                padding: 10px;
                background-color: rgb(230, 230, 230);
                border: none;
                transition: all .3s ease-in-out;
                &:hover {
                    background-color: black;
                    color: #ffff;
                }
            }
        }
    }
}