.carrusel {
    width: 100%;
    @include neo( 1, 0, 1.6rem);
    overflow-x: hidden;
    .grande {
        width: 200%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        @include neo( 1, 0, 1.6rem);
        transition: all .5s ease-in-out;
        transform: translateX(0%);

        .img-carousel1 {
            width: calc(100% / 2);
            @include neo( 1, 0, 1.6rem);
        }
    }

    .puntos {
        width: 100%;
        padding: 1.6rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        .punto {
            width: 2rem;
            height: 2rem;
            margin: 2rem;
            @include neo( 1, 1.6rem, .6rem);
            cursor: pointer;
        }
    }
}

.carrusel .punto.activo {
    background-color: #9ca2ad;
    opacity: 1;
    box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9,
    0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001, inset -8px -8px 20px 0px #fff9,
    inset -5px -5px 6px 0px #fff9, inset 8px 8px 20px 0px #0003,
    inset 5px 5px 6px 0px #0001;
}
