/*FONT WEIGHT*/

$weight-roboto: 
100, /*THIN*/
300, /*LIGTH*/
400, /*REGULAR*/
500;  /*MEDIUM*/

$weight-open:
300, /*LIGHT*/
400; /*REGULAR*/

/*FONT-SIZE*/

$font-sizes: 
3.1rem, /*tittle*/
2rem, /*subtittle*/
1.7rem, /*p*/
1.4rem, /*span*/
1.5rem; /*button*/
