/*FONT WEIGHT*/

$weight-roboto: 
100, /*THIN*/
300, /*LIGTH*/
400, /*REGULAR*/
500;  /*MEDIUM*/

$weight-open:
300, /*LIGHT*/
400; /*REGULAR*/

/*FONT-SIZE*/

$font-sizes: 
31px, /*tittle*/
20px, /*subtittle*/
17px, /*p*/
14px, /*span*/
15px; /*button*/
