/* Aquí definimos las Custom properties */
:root{
    --negro         : #393939;
    --blanco        : #ececec;
    --sombra-ppal   : #c9c9c9;
    --sombra-sec    : #ffffff;
    --borde-negro   : #00000050;

    --marcado       : rgb(127, 195, 255);
}
    

